@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'), url('../fonts/ClashDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'), url('../fonts/ClashDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'), url('../fonts/ClashDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'), url('../fonts/ClashDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'), url('../fonts/ClashDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'), url('../fonts/ClashDisplay-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migha';
    src: url('../fonts/Migha-Medium.woff2') format('woff2'), url('../fonts/Migha-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migha';
    src: url('../fonts/Migha-Light.woff2') format('woff2'), url('../fonts/Migha-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migha';
    src: url('../fonts/Migha-Regular.woff2') format('woff2'), url('../fonts/Migha-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migha';
    src: url('../fonts/Migha-Black.woff2') format('woff2'), url('../fonts/Migha-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migha';
    src: url('../fonts/Migha-Bold.woff2') format('woff2'), url('../fonts/Migha-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}