.hydra-fecial-sec-contant-holder {
    display: flex;
}

.hydra-fecial-detail {
    width: 100%;
    max-width: 500px;
}

.hydra-fecial-detail h1 {
    font-size: 80px;
    color: #F2D2BD;
    font-weight: 400;
    font-family: 'migha';
}

.hydra-fecial-img img {
    margin-right: -300px;
    width: 100%;
    max-width: 600px;
    height: 600px;
}