* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Clash Display';
    line-height: 1em;
    /* font-family: 'Migha'; */
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 0;
    margin: 0;
}

.page-width {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.banner-sec {
    padding: 30px 0px;
}

.banner-contant-holder {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-detail h2 {
    font-size: 83px;
    font-weight: 200;
}

.banner-detail h3 {
    font-size: 127px;
    color: #C6E3DC;
    font-weight: 400;
    font-family: 'Migha';
    display: block;
}

.banner-detail p {
    color: #535353;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.site-btn a {
    text-decoration: none;
    color: #535353;
    border: 2px solid #707070ae;
    padding: 14px 45px;
    display: block;
    width: fit-content;
    transition: 0.3s;
}

.site-btn a:hover {
    background-color: #084434;
    color: white;
    border: 2px solid white;
}

.site-btn {
    margin-top: 30px;
}

.product-card-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.product-sec-heading h1 {
    color: #535353;
    font-weight: 500;
    padding: 20px 0px;
    font-size: 20px;
}

.product-card {
    display: block;
    width: 100%;
}

.product-card-img {
    aspect-ratio: 1/1;
    overflow: hidden;
    width: 100%;
}

.product-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
}

.product-card:hover .product-card-img img {
    transform: scale(1.1);
}

.product-card h6 {
    color: #535353;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-card p {
    color: #535353;
    font-size: 16px;
    margin-bottom: 25px;
}

.product-card button {
    all: unset;
    cursor: pointer;
    color: #707070;
    text-decoration: none;
    width: 100%;
    padding: 12px 5px;
    border: 2px solid#707070;
    text-align: center;
    transition: 0.3s;
    font-size: 16px;
}

.product-card button:hover {
    background-color: #F2D2BD;
    border: 2px solid #F2D2BD;
}

.experience-sec {
    padding: 80px 0px 20px 0;
}

.experience-contant-holder {
    display: flex;
    align-items: center;
    gap: 40px;
}

.experience-detail {
    width: 100%;
}

.experience-detail h2 {
    font-size: 83px;
    font-weight: 200;
    line-height: 83px;
}

.experience-detail h3 {
    font-size: 127px;
    color: #F2D2BD;
    font-weight: 500;
    line-height: 169px;
    font-family: 'Migha';
}

.experience-detail p {
    color: #535353;
    font-size: 22px;
    line-height: 38px;
}

.experience-img {
    width: 100%;
}

.experience-img img {
    width: 100%;
}

.our-featured-contant-holder h1 {
    text-align: center;
    font-size: 83px;
    color: #535353;
    font-weight: 300;
}

.our-featured-contant-holder h3 {
    text-align: center;
    font-size: 127px;
    color: #084434;
    font-weight: 600;
    font-family: 'Migha';
}

.our-featured-contant-holder p {
    text-align: center;
    color: #535353;
    font-weight: 400;
    font-size: 22px;
    max-width: 940px;
    width: 100%;
    margin: 10px auto 0 auto;
}

.our-featured-sec {
    background-image: url('/assets/images/brush-bg.svg');
    background-size: 160%;
    background-position: bottom;
    padding: 80px 0px;
    position: relative;
}

.our-featured-sec::before {
    position: absolute;
    left: 0;
    bottom: 250px;
    width: 100%;
    height: 400px;
    background-color: #F2D2BD;
    content: '';
}

.our-featured-sec-cards-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.our-cards {
    width: 100%;
    max-width: 400px;
}

.customer-stories-contant h2 {
    color: #535353;
    font-weight: 300;
    font-size: 83px;
}

.customer-stories-contant h1 {
    color: #F2D2BD;
    font-weight: 300;
    font-size: 127px;
    font-family: 'Migha';
}

.customer-stories-contant {
    width: 100%;
    /* max-width: 600px; */
}

.customer-stories-contant p {
    max-width: 785px;
    font-size: 22px;
    color: #535353;
    line-height: 30px;
}

.cleint-review-holder {
    display: grid;
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    margin-top: 60px;
}

.customer-stories-sec {
    padding: 80px 0px;
}

.client-review {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: space-between;
}

.rev-number {
    position: absolute;
    left: -15px;
    top: -15px;
    font-size: 261px;
    font-family: 'Clash Display';
    font-weight: 200;
    z-index: -1;
    color: #53535311;
}

.client-review h1 {
    color: #535353;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    gap: 80px;
}

.client-review h1 img {
    width: 83px;
}

.client-review p {
    color: #535353;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 29px;
    margin-top: 5px;
}

.client-review h4 {
    color: #535353;
    font-size: 27px;
    font-weight: 400;
}

.featured-box-holder {
    display: flex;
    gap: 20px;
}

.featured-box {
    width: 100%;
    height: 620px;
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    overflow: hidden;
}

.featured-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.featured-box h3 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.featured-box a {
    display: block;
    width: fit-content;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    color: #084434;
    text-decoration: none;
}

.featured-box::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(67, 97, 88);
    background: linear-gradient(0deg, rgba(67, 97, 88, 0.908000700280112) 9%, rgba(52, 77, 70, 0.48503151260504207) 100%);
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}

.feature-content {
    opacity: 0;
    transition: 0.3s;
    width: max-content;
    z-index: 99;
    padding: 0 40px;
}

.featured-box:hover .feature-content {
    opacity: 1;
}

.featured-box:hover::before {
    opacity: 1;
}

.featured-slide {
    overflow: hidden;
    margin-top: 30px;
}

.featured-slide .swiper-slide {
    transition: 0.3s;
}

.featured-slide .swiper-slide:hover {
    width: 638px !important;
    max-width: 638px !important;
}

.featured-slider-nav-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    width: fit-content;
    margin-top: 40px;
}

.featured-slider-nav-holder .swiper-pagination {
    position: inherit;
    top: inherit !important;
    left: inherit !important;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -4px;
}

.featured-slider-nav-holder button {
    all: unset;
    cursor: pointer;
}

.featured-slider-nav-holder .swiper-pagination-bullet {
    background-color: #BBCBC7;
    width: 10px;
    height: 10px;
    opacity: 1 !important;
    transition: 0.3s;
}

.featured-slider-nav-holder .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #084434;
}

.swiper-button-disabled {
    opacity: 0.3 !important;
}

.lets-shine-content-holder {
    display: flex;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.shine-img1 {
    width: 46%;
    height: fit-content;
    align-self: end;
}

.shine-img2 {
    width: 100%;
    height: fit-content;
    align-self: flex-end;
}

.lets-shine-text {
    width: fit-content;
    text-align: center;
}

.lets-shine-text h3 {
    font-size: 127px;
    font-family: 'Migha';
    color: #084434;
}

.lets-shine-text h3 span {
    color: #535353;
    font-size: 83px;
    font-weight: 300;
    font-family: 'Clash Display';
}

.lets-shine-text a {
    margin: 0 auto;
}

.lets-shine-bar {
    margin: 0 auto;
    display: block;
    background-color: #707070;
    width: 1px;
    height: 170px;
}

.book-appointment {
    width: 100%;
    background-color: #C6E3DC;
    padding: 80px 0;
}

.book-appointment h4 {
    color: #535353;
    font-size: 83px;
    font-weight: 200;
}

.book-appointment h2 {
    color: #084434;
    font-size: 127px;
    font-family: 'Migha';
}

.rev-stars {
    width: 110px;
    margin-top: 5px;
}

.appointment-field-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    row-gap: 50px;
    margin-top: 40px;
    max-width: 990px;
}

.appointment-field-holder fieldset {
    width: 100%;
    border: none;
}

.appointment-field-holder fieldset label {
    color: #084434;
    font-size: 14px;
    font-family: 'Clash Display';
    margin-bottom: 25px !important;
    display: block;
}

.appointment-field-holder fieldset input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    color: #535353;
    font-family: 'Clash Display';
    border-bottom: 1px solid #084434;
    padding-bottom: 15px;
}

.appointment-field-holder fieldset select {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    color: #535353;
    font-family: 'Clash Display';
    border-bottom: 1px solid #084434;
    padding-bottom: 15px;
}

.appointment-field-holder fieldset button {
    all: unset;
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: white;
    font-family: 'Clash Display';
    font-size: 16px;
    transition: 0.3s;
}

.appointment-field-holder fieldset button:hover {
    background-color: #084434;
    color: white;
}

.blogs-sec {
    padding: 40px 0;
}

.blog-box-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-box {
    width: 100%;
}

a.blog-box {
    text-decoration: none;
    color: inherit;
}

.blog-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
}

.blog-box-img {
    width: 100%;
    aspect-ratio: 1/0.5;
    object-fit: cover;
    overflow: hidden;
}

.blog-box:hover img {
    transform: scale(1.05);
}

.blog-box h4 {
    font-size: 16px;
    font-family: 'Clash Display';
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #535353;
}

.blog-box p {
    font-family: 'Clash Display';
    font-size: 12px;
    line-height: 20px;
    color: #535353;
}

.map-img {
    width: 100%;
    padding: 0px 0 40px 0;
}

.map-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.footer {
    background-color: #084434;
    padding: 80px 0 0 0;
}

.footer-content {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.foot-item h4 {
    color: #F2D2BD;
    font-size: 32px;
    font-weight: 500;
    width: fit-content;
    margin-bottom: 15px;
}

.foot-item p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-family: 'Clash Display';
}

.foot-item p svg {
    width: 20px;
    height: 20px;
}

.foot-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Clash Display';
}

.foot-item a svg {
    width: 20px;
    height: 20px;
}

.footer-logo {
    align-self: center;
}

.foot-item ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot-item ul li {
    list-style: none;
}

.foot-bottom {
    text-align: right;
}

.foot-bottom p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.foot-bottom {
    padding: 30px 0;
    margin-top: 30px;
    border-top: 1px solid #F2D2BD;
}